@import url('https://fonts.googleapis.com/css?family=Tangerine');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
body {
    justify-content: center;
    align-items: center;
    justify-self: auto;
    min-height: 100vh;
    /*background-image: linear-gradient(rgb(19, 33, 153), green);*/
    background-image: url(/images/zak-7wBFsHWQDlk-unsplash.jpg);
    background-size: 100% 100%;
    color: white;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.eventPageBrief {
    padding: 0px;
}
.eventPageBrief h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    filter: drop-shadow(7px 7px 8px black);
}
.eventPageBrief p {
    width: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    filter: drop-shadow(7px 7px 8px black);
}
.timeZones {
    display: flex;
    justify-content: center;
}
.timebox {
    margin: 25px;
    text-align: center;
}
.datetime{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #fff;
    /*background: #10101E;*/
    font-family: "Segoe UI", sans-serif;
    width: 740px;
    padding: 15px 10px;
    /*border: 3px solid #2E94E3;*/
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.datetime h1 {
      padding-top: 0px;
      padding-bottom: 5px;
      color:seashell;
      font-weight: 800;
      text-align: center;
}
  /*.datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }*/
.date{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
  
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
  
.time span:last-child{
    /*background: #2E94E3;*/
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}
.logo {
    text-align: center;
    padding: 25px;
}
.logoMobile {
    display: none;
}
.logo img{
    height: 100px;
    width: 500px;
    filter: drop-shadow(0px 0px 5px white);
}
.logo img:hover {
    filter: drop-shadow(6px 6px 7px green);
    transition: 2s;
}
Header {
    width: 100%;
    top: 0;
    right: 0;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}
Header .nav {
    display: flex;
    position: relative;
    font-size: 16px;
    justify-content: center;
}
Header .nav li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 450;
}
Header .nav li a:hover{
    font-weight: 500;
}
#eventFeed {
    /*background-color: brown;*/
    padding: 20px;
}
article {
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px ridge;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 100px;
}
section .soundcloudPlaylists {
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px ridge;
    border-radius: 3px;
    margin-bottom: 50px;
}
.superSwordInfo {

}
.superSwordSC {
    display: flex;
    padding: 0px;
}
.superSwordSC img {
    width: 30%;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.superSwordInfoText {
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.superSwordInfoText h1 {
    font-size: 40px;
}
.superSwordInfoText p {
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.soundcloudEmbedded {
    padding: 60px;
}

.medeivalMondaysInfo {
    
}
.medeivalMondaysSC {
    display: flex;
    padding: 0px;
}
.medeivalMondaysSCImg {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.medeivalMondaysSCImg a img{
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.medeivalMondaysSCImg a p {
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
}
.medeivalMondaysSCImg a p:hover {
    color: blue;
    font-weight: 900;
}
.medeivalMondaysInfoText {
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.medeivalMondaysInfoText h1 {
    font-size: 40px;
}
.medeivalMondaysInfoText p {
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#eventFeed article .calendarBlock {
    /*background-color: indigo;*/
    width: 15%;
    border: 3px double;
    border-color: silver;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#eventFeed article .calendarBlock h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 5px black);
}
#eventFeed article .calendarBlock h5{
    font-size: 15px;
    font-weight: 400;
    filter: drop-shadow(2px 2px 5px black);
}
#eventFeed article .calendarBlock h3{
    font-size: 30px;
    font-weight: 500;
    filter: drop-shadow(2px 2px 5px black);
}
article .eventInfo {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
article .eventInfo .infoText {
    width: 98%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
article .eventInfo .infoText h2 {
    font-size: 40px;
    text-align: center;
    padding: 0px;
    filter: drop-shadow(2px 2px 5px black);
}
hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
article .eventInfo .infoText p {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    filter: drop-shadow(2px 2px 5px black);
}
article .poster {
    justify-content: center;
    padding: 30px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
article .poster img {
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
article .poster a img {
    width: 500px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.slider {
    width: 800px;
    height: 630px;
    border-radius: 10px;
    overflow: hidden;
}
.slide {
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input {
    display: none;
}
.st {
    width: 20%;
    transition: 1.5s;
}
.st img {
    width: 800px;
    height: 600px;
    margin-bottom: auto;
    margin-top: auto;
}
.nav-m {
    position: absolute;
    width: 800px;
    margin-top: 70px;
    justify-content: center;
    display: flex;
}
.m-btn {
    border: 2px solid #09ffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child) {
    margin-right: 30px;
}
.m-btn:hover {
    background-color: #09ffff;
}
#radio1:checked ~.first {
    margin-left: 0;
}
#radio2:checked ~.first {
    margin-left: -20%;
}
#radio3:checked ~.first {
    margin-left: -40%;
}
#radio4:checked ~.first {
    margin-left: -60%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav-auto div {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1 {
    background-color: saddlebrown;
}
#radio2:checked ~ .nav-auto .a-b2 {
    background-color: saddlebrown;
}
#radio3:checked ~ .nav-auto .a-b3 {
    background-color: saddlebrown;
}
#radio4:checked ~ .nav-auto .a-b4 {
    background-color: saddlebrown;
}

* {box-sizing:border-box}

.twoDayEventSlides {
    width: 45%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  border-radius: 10px;
  background-color: chocolate;
  margin-top: 25px;
  filter: drop-shadow(0px 0px 5px white);
}
.mySlides img:hover {
    filter: drop-shadow(0px 0px 5px gold);
    transition: 2s;
  }
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color:chartreuse;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s  ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.test2 {
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* custom styling for all icons */
i.fas,
i.fab {
  font-size: 25px;
}
i.fa-aws {
    font-size: 12px;
}
.fa-soundcloud {
    color: white;

}
.fa-mixcloud {
    color: white;
    
}
.fa-twitch {
    color: white;
}
.aLink {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -130px;
    left: 44vw;
}
.aLink li a {
    width: 50px;
    height: 50px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.2s linear;
  }

.aLink img {
    height: 20px;
    width: 20px;
}

.aLink li a:hover {
    background: #ab1026;
    transform: translateY(-15px);
}

.aLink li a img {
    width: 45px;
    height: 40px;
    filter: invert(1);
    transform: scale(.6);
}

#img1::after,
#img2::after,
#img3::after{
    content: 'soundcloud';
    color: #fff;
    position: absolute;
    top: 100%;
    bottom: 0;
    padding: 1em 3em;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-in-out .6s;
}

#img2::after {
    content: 'mixcloud';
}

#img3::after {
    content: 'twitch';
}

#img1:hover::after,
#img2:hover::after,
#img3:hover::after{
    transform: scale(1);
}
.brand-rights {
    text-align: center;
    color: white;
    background-color:black;
}
a:link, a:visited {
    color:white;
    text-decoration: none;
}
#eventLink a{
    font-weight: 800;
}
#eventLink a:hover {
    color: blue;
    font-weight: 900;
}
#twitchLink a:hover {
    color: blue;
    font-weight: 400;
}



/* Media Queries*/

@media (min-width:3600px) and (max-width:5560px) {
    .eventPageBrief {
        padding: 0px;
    }
    .eventPageBrief h1 {
        text-align: center;
        font-size: 70px;
        margin: 20px;
        filter: drop-shadow(7px 7px 8px black);
    }
    .timeZones {
        display: flex;
        justify-content: center;
    }
    .timeZones h1 {
        font-size: 45px;
    }
    .timebox {
        margin: 25px;
        text-align: center;
    }
    .datetime{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 45px;
        color: #fff;
        /*background: #10101E;*/
        font-family: "Segoe UI", sans-serif;
        width: 740px;
        padding: 2px 10px;
        /*border: 3px solid #2E94E3;*/
        border-radius: 5px;
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
        transition: 0.5s;
        transition-property: background, box-shadow;
    }
    .datetime h1 {
          padding-top: 0px;
          padding-bottom: 5px;
          color:seashell;
          font-weight: 800;
          text-align: center;
    }
      /*.datetime:hover{
        background: #2E94E3;
        box-shadow: 0 0 30px #2E94E3;
      }*/
    .date{
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
      
    .time{
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .time span:not(:last-child){
        position: relative;
        margin: 0 6px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
      
    .time span:last-child{
        /*background: #2E94E3;*/
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0 5px;
        border-radius: 3px;
    }
    .logo {
        text-align: center;
        padding: 25px;
    }
    .logoMobile {
        display: none;
    }
    .logo img{
        width: 1175px;
        height: 225px;
        filter: drop-shadow(4px 4px 7px white);
        margin: 50px;
    }
    .logo img:hover {
        filter: drop-shadow(6px 6px 7px green);
        transition: 2s;
    }
    Header {
        width: 100%;
        top: 0;
        right: 0;
        /*display: flex;*/
        justify-content: space-between;
        align-items: center;
        padding: 40px 10px;
    }
    Header .nav {
        display: flex;
        position: relative;
        font-size: 40px;
        justify-content: center;
    }
    Header .nav li a {
        display: inline-block;
        color: #fff;
        margin-left: 40px;
        font-weight: 450;
    }
    Header .nav li a:hover{
        font-weight: 500;
    }
    #eventFeed {
        /*background-color: brown;*/
        padding: 20px;
    }
    article {
        border: 3px ridge;
        border-radius: 3px;
        display: flex;
        margin-bottom: 100px;
    }
    #eventFeed article .calendarBlock {
        /*background-color: indigo;*/
        width: 15%;
        border: 3px double;
        border-color: silver;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #eventFeed article .calendarBlock h1{
        font-size: 59px;
        font-weight: 700;
        text-transform: uppercase;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h5{
        font-size: 30px;
        font-weight: 400;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h3{
        font-size: 50px;
        font-weight: 500;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo {
        margin-top: 100px;
        width: 60%;
    }
    article .eventInfo .infoText {
        width: 98%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    article .eventInfo .infoText h2 {
        font-size: 59px;
        text-align: center;
        padding: 65px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo .infoText p {
        font-size: 45px;
        text-align: center;
        padding: 5px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .poster {
        display: flex;
        justify-content: center;
        padding: 25px;
        width: 50%;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    article .poster img {
        width: 500px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    .slider {
        width: 800px;
        height: 630px;
        border-radius: 10px;
        overflow: hidden;
    }
    .slide {
        width: 500%;
        height: 500px;
        display: flex;
    }
    .slide input {
        display: none;
    }
    .st {
        width: 20%;
        transition: 1.5s;
    }
    .st img {
        width: 800px;
        height: 600px;
        margin-bottom: auto;
        margin-top: auto;
    }
    .nav-m {
        position: absolute;
        width: 800px;
        margin-top: 70px;
        justify-content: center;
        display: flex;
    }
    .m-btn {
        border: 2px solid #09ffff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .m-btn:not(:last-child) {
        margin-right: 30px;
    }
    .m-btn:hover {
        background-color: #09ffff;
    }
    #radio1:checked ~.first {
        margin-left: 0;
    }
    #radio2:checked ~.first {
        margin-left: -20%;
    }
    #radio3:checked ~.first {
        margin-left: -40%;
    }
    #radio4:checked ~.first {
        margin-left: -60%;
    }
    
    .nav-auto {
        position: absolute;
        width: 800px;
        margin-top: 460px;
        display: flex;
        justify-content: center;
    }
    .nav-auto div {
        border: 2px solid red;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    .nav-auto div:not(:last-child) {
        margin-right: 30px;
        justify-content: center;
    }
    
    #radio1:checked ~ .nav-auto .a-b1 {
        background-color: saddlebrown;
    }
    #radio2:checked ~ .nav-auto .a-b2 {
        background-color: saddlebrown;
    }
    #radio3:checked ~ .nav-auto .a-b3 {
        background-color: saddlebrown;
    }
    #radio4:checked ~ .nav-auto .a-b4 {
        background-color: saddlebrown;
    }
    
    * {box-sizing:border-box}
    
    .twoDayEventSlides {
        width: 45%;
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 50%;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    .mySlides img {
      border-radius: 10px;
      background-color: chocolate;
      margin-top: 25px;
      filter: drop-shadow(0px 0px 5px white);
    }
    .mySlides img:hover {
        filter: drop-shadow(0px 0px 5px gold);
        transition: 2s;
      }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 10px;
      color:chartreuse;
      font-weight: bold;
      font-size: 35px;
      transition: 0.6s  ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    
    /* The dots/bullets/indicators */
    .test2 {
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1s;
    }
    @-webkit-keyframes fade {
        from {opacity: .1}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      
      /* custom styling for all icons */
      i.fas,
      i.fab {
        font-size: 30px;
      }
      .brand-rights {
          text-align: center;
          color: white;
          background-color:black;
      }
      small {
        font-size: 30px;
    }
}

@media (max-width:1440px){
    .twoDayEventSlides {
        width: 100%;
    }
    .eventInfo {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .brand-rights {
        width: 100%;
    }
    .eventsPageIntro {
        width: 100%;
    }
    #eventFeed article .calendarBlock {
        width: 25%;
    }
    .datetime .date {
        font-size: 30px;
    }
    .timebox {
        font-size: 13px;
    }
    .eventPageBrief p {
        width: 50%;
    }
    .logoMobile img {
        width: 500px;
        height: 115px;
    }
    .logoMobile img:hover {
        filter: drop-shadow(0px 0px 2px green);
        transition: 2s;
    }
    article {
        padding: 0px;
    }
    article .poster {
        /*background-color: #09ffff;*/
        width: 100%;
        text-align: center;
    }
    article .poster img {
        width: 400px;
        margin-top: 50px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    
    }
    article .eventInfo .infoText {
        width: 100%;
        margin-bottom: 50px;
    }
    .twoDayEventSlides {
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 55%;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    .mySlides img:hover {
      filter: drop-shadow(0px 0px 5px gold);
      transition: 2s;
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 10px;
      color:chartreuse;
      font-weight: bold;
      font-size: 35px;
      transition: 0.6s  ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    
    /* The dots/bullets/indicators */
    .test2 {
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1s;
    }
}



@media (max-width:1100px){
    article .poster a img {
        width: 99%;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    body {
        width: 100%;
        padding: 0px;
    }
    .datetime {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        color: #fff;
        /*background: #10101E;*/
        font-family: "Segoe UI", sans-serif;
        width: 100%;
        padding: 10px;
        /*border: 3px solid #2E94E3;*/
        border-radius: 5px;
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
        transition: 0.5s;
        transition-property: background, box-shadow;
    }
    .date{
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
    .time{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .time span:not(:last-child){
        position: relative;
        margin: 0 6px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 3px;
    }
    .time span:last-child{
        /*background: #2E94E3;*/
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 7px;
        padding: 0 5px;
        border-radius: 3px;
    }
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        filter: drop-shadow(0px 0px 3px white);
    }
    .logoMobile img {
        width: 300px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    .logoMobile img:hover {
        filter: drop-shadow(0px 0px 2px green);
        transition: 2s;
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #pageHeader {
        text-align: center;
        font-size: 55px;
        margin-top: 50px;
        margin-bottom: 25px;
        filter: drop-shadow(0px 0px 10px black);
    }
    #eventFeed {
        /*background-color: brown;*/
        padding: 0px;
    }
    article {
        border: 1px double;
        border-radius: 3px;
        display: block;
        margin-bottom: 100px;
    }
    #eventFeed article .calendarBlock {
        /*background-color: indigo;*/
        width: 50%;
        border: 3px double;
        border-color: silver;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #eventFeed article .calendarBlock h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h5{
        font-size: 15px;
        font-weight: 400;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h3{
        font-size: 30px;
        font-weight: 500;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo {
        /*background-color:saddlebrown;
        padding: 10px;*/
        margin-top: 100px;
    }
    article .eventInfo .infoText {
        /*background-color: lightcoral;*/
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /*display: flex;*/
    }
    article .eventInfo .infoText h2 {
        /*margin-bottom: auto;
        margin-top: auto;*/
        font-size: 45px;
        text-align: center;
        padding: 65px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo .infoText p {
        /*margin-bottom: auto;
        margin-top: auto;*/
        font-size: 20px;
        text-align: left;
        padding: 25px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .poster {
        /*background-color: darkgreen;*/
        padding: 25px;
        width: 30%;
    }
    article .poster img {
        width: 320px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
}
@media (max-width:1024px){
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 70px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
        margin-right: 80px;
    }
    .twoDayEventSlides {
        width: 100%;
    }
    .eventInfo {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .brand-rights {
        width: 100%;
    }
    .eventsPageIntro {
        width: 100%;
    }
    #eventFeed article .calendarBlock {
        width: 25%;
    }
    .datetime .date {
        font-size: 30px;
    }
    .timebox {
        font-size: 13px;
    }
    .eventPageBrief p {
        width: 50%;
    }
    .logoMobile img {
        width: 500px;
        height: 115px;
    }
    .logoMobile img:hover {
        filter: drop-shadow(0px 0px 2px green);
        transition: 2s;
    }
    article {
        padding: 0px;
    }
    article .poster {
        /*background-color: #09ffff;*/
        width: 100%;
        text-align: center;
    }
    article .poster img {
        width: 400px;
        margin-top: 50px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    
    }
    article .poster a img {
        width: 500px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    article .eventInfo .infoText {
        width: 100%;
        margin-bottom: 50px;
    }
    .twoDayEventSlides {
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 55%;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    .mySlides img:hover {
      filter: drop-shadow(0px 0px 5px gold);
      transition: 2s;
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 10px;
      color:chartreuse;
      font-weight: bold;
      font-size: 35px;
      transition: 0.6s  ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    
    /* The dots/bullets/indicators */
    .test2 {
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1s;
    }
    section .soundcloudPlaylists {
        background-color: rgba(0, 0, 0, 0.9);
        border: 3px ridge;
        border-radius: 3px;
        margin-bottom: 50px;
    }
    .superSwordInfo {
        margin-bottom: 100px;
    }
    .superSwordSC {
        display: inline-block;
        padding: 0px;
    }
    .superSwordSC img {
        display: flex;
        width: 50%;
        height: 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    .superSwordInfoText {
        padding: 10px;
        text-align: center;
    }
    .superSwordInfoText h1 {
        font-size: 45px;
    }
    .superSwordInfoText p {
        font-size: 20px;
    }
    .soundcloudEmbedded {
        padding: 10px;
    }
    
    .medeivalMondaysInfo {
        margin-top: 100px;
    }
    .medeivalMondaysSC {
        display: inline-block;
        padding: 0px;
    }
    .medeivalMondaysSC img {
        display: flex;
        width: 50%;
        height: 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    .medeivalMondaysInfoText {
        padding: 10px;
        text-align: center;
    }
    .medeivalMondaysInfoText h1 {
        font-size: 45px;
    }
    .medeivalMondaysInfoText p {
        font-size: 20px;
    }
    .aLink {
        bottom: -1220px;
    }
}
@media (max-width:768px){
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
        margin-right: 80px;
    }
    .twoDayEventSlides {
        width: 100%;
    }
    .eventInfo {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .brand-rights {
        width: 100%;
    }
    .eventsPageIntro {
        width: 100%;
    }
    #eventFeed article .calendarBlock {
        width: 25%;
    }
    .datetime .date {
        font-size: 30px;
    }
    .timebox {
        font-size: 13px;
    }
    .eventPageBrief p {
        width: 50%;
    }
    .logoMobile img {
        height: 100px;
        width: 500px;
        filter: drop-shadow(0px 0px 5px white);
        margin-bottom: 100px;
    }
    .logoMobile img:hover {
        filter: drop-shadow(0px 0px 2px green);
        transition: 2s;
    }
    article {
        padding: 0px;
    }
    article .poster {
        /*background-color: #09ffff;*/
        width: 100%;
        text-align: center;
    }
    article .poster img {
        width: 400px;
        margin-top: 50px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    
    }
    article .poster a img {
        width: 500px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    article .eventInfo .infoText {
        width: 100%;
        margin-bottom: 50px;
    }
    .twoDayEventSlides {
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 55%;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    .mySlides img:hover {
      filter: drop-shadow(0px 0px 5px gold);
      transition: 2s;
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 10px;
      color:chartreuse;
      font-weight: bold;
      font-size: 35px;
      transition: 0.6s  ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    
    /* The dots/bullets/indicators */
    .test2 {
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1s;
    }
    section .soundcloudPlaylists {
        background-color: rgba(0, 0, 0, 0.9);
        border: 3px ridge;
        border-radius: 3px;
        margin-bottom: 50px;
    }
    .superSwordInfo {
        margin-bottom: 100px;
    }
    .superSwordSC {
        display: inline-block;
        padding: 0px;
    }
    .superSwordSC img {
        display: flex;
        width: 90%;
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    .superSwordInfoText {
        padding: 10px;
        text-align: center;
    }
    .superSwordInfoText h1 {
        font-size: 45px;
    }
    .superSwordInfoText p {
        font-size: 20px;
    }
    .soundcloudEmbedded {
        padding: 10px;
    }
    
    .medeivalMondaysInfo {
        margin-top: 100px;
    }
    .medeivalMondaysSC {
        display: inline-block;
        padding: 0px;
    }
    .medeivalMondaysSC img {
        display: flex;
        width: 90%;
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }
    .medeivalMondaysInfoText {
        padding: 10px;
        text-align: center;
    }
    .medeivalMondaysInfoText h1 {
        font-size: 45px;
    }
    .medeivalMondaysInfoText p {
        font-size: 20px;
    }
    .aLink {
        bottom: -1450px;
    }
}
@media (max-width:425px){
    .logoMobile img {
        display: flex;
        padding: 10px;
        width: 450px;
        margin-left: 0px;
    }
    #eventFeed {
        /*background-color: brown;*/
        padding: 10px;
    }
    article {
        border: 3px ridge;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 50px;
    }
    #eventFeed article .calendarBlock {
        /*background-color: indigo;*/
        width: 45%;
        border: 3px double;
        border-color: silver;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #eventFeed article .calendarBlock h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h5{
        font-size: 15px;
        font-weight: 400;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h3{
        font-size: 30px;
        font-weight: 500;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo {
        /*padding: 10px;*/
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    article .eventInfo .infoText {
        /*background-color: lightcoral;*/
        width: 98%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        /*display: flex;*/
    }
    article .eventInfo .infoText h2 {
        /*margin-bottom: auto;
        margin-top: auto;*/
        font-size: 45px;
        text-align: center;
        padding: 45px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo .infoText p {
        /*margin-bottom: auto;
        margin-top: auto;*/
        font-size: 20px;
        text-align: center;
        padding: 10px;
        filter: drop-shadow(2px 2px 5px black);
    }
    
    article .poster img {
        width: 270px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
        margin-left: auto;
        margin-right: auto;
    }
    article .poster a img {
        width: 99%;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
    }

    * {box-sizing:border-box}

.twoDayEventSlides {
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 95%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color:chartreuse;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s  ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.test2 {
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

section .soundcloudPlaylists {
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px ridge;
    border-radius: 3px;
    margin-bottom: 50px;
}
.superSwordInfo {
    margin-bottom: 100px;
}
.superSwordSC {
    display: inline-block;
    padding: 0px;
}
.superSwordSC img {
    display: flex;
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.superSwordInfoText {
    padding: 10px;
    text-align: center;
}
.superSwordInfoText h1 {
    font-size: 45px;
}
.superSwordInfoText p {
    font-size: 20px;
}
.soundcloudEmbedded {
    padding: 10px;
}

.medeivalMondaysInfo {
    margin-top: 100px;
}
.medeivalMondaysSC {
    display: inline-block;
    padding: 0px;
}
.medeivalMondaysSC img {
    display: flex;
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.medeivalMondaysInfoText {
    padding: 10px;
    text-align: center;
}
.medeivalMondaysInfoText h1 {
    font-size: 45px;
}
.medeivalMondaysInfoText p {
    font-size: 20px;
}

.aLink {
    bottom: -1090px;
    left: 144px;
}
.aLink li a {
    width: 30px;
    height: 30px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.2s linear;
  }

.aLink img {
    height: 20px;
    width: 20px;
}

.aLink li a:hover {
    background: #ab1026;
    transform: translateY(-15px);
}

.aLink li a img {
    width: 45px;
    height: 40px;
    filter: invert(1);
    transform: scale(.6);
}
i.fas,
i.fab {
  font-size: 13px;
}

}
@media (max-width:375px){
    .logoMobile {
    }
    .logoMobile img {
        display: flex;
        padding: 10px;
        width: 90%;
        margin-left: 30px;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
        margin-right: 33px;
    }
    #eventFeed {
        /*background-color: brown;*/
        padding: 10px;
    }
    article {
        border: 3px ridge;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 50px;
        width: 100%;
    }
    header {
        
    }
    .brand-rights {
        width: 100%;
    }
    .eventsPageIntro {
        width: 100%;
    }
    #eventFeed article .calendarBlock {
        /*background-color: indigo;*/
        width: 45%;
        border: 3px double;
        border-color: silver;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #eventFeed article .calendarBlock h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h5{
        font-size: 15px;
        font-weight: 400;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h3{
        font-size: 30px;
        font-weight: 500;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    article .eventInfo .infoText {
        width: 98%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    article .eventInfo .infoText h2 {
        font-size: 45px;
        text-align: center;
        padding: 45px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo .infoText p {
        font-size: 20px;
        text-align: center;
        padding: 10px;
        filter: drop-shadow(2px 2px 5px black);
    }
    
    article .poster img {
        width: 270px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
        margin-left: auto;
        margin-right: auto;
    }


    * {box-sizing:border-box}

.twoDayEventSlides {
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 95%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color:chartreuse;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s  ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.test2 {
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

section .soundcloudPlaylists {
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px ridge;
    border-radius: 3px;
    margin-bottom: 50px;
}
.superSwordInfo {
    margin-bottom: 100px;
}
.superSwordSC {
    display: inline-block;
    padding: 0px;
}
.superSwordSC img {
    display: flex;
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.superSwordInfoText {
    padding: 10px;
    text-align: center;
}
.superSwordInfoText h1 {
    font-size: 45px;
}
.superSwordInfoText p {
    font-size: 20px;
}
.soundcloudEmbedded {
    padding: 10px;
}

.medeivalMondaysInfo {
    margin-top: 100px;
}
.medeivalMondaysSC {
    display: inline-block;
    padding: 0px;
}
.medeivalMondaysSC img {
    display: flex;
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px white);
}
.medeivalMondaysInfoText {
    padding: 10px;
    text-align: center;
}
.medeivalMondaysInfoText h1 {
    font-size: 45px;
}
.medeivalMondaysInfoText p {
    font-size: 20px;
}

.aLink {
    bottom: -1065px;
    left: 160px;
}

}
@media (max-width:320px){
    .logoMobile img {
        display: flex;
        padding: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #eventFeed {
        /*background-color: brown;*/
        padding: 10px;
    }
    article {
        border: 3px ridge;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 50px;
    }
    #eventFeed article .calendarBlock {
        /*background-color: indigo;*/
        width: 45%;
        border: 3px double;
        border-color: silver;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #eventFeed article .calendarBlock h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h5{
        font-size: 15px;
        font-weight: 400;
        filter: drop-shadow(2px 2px 5px black);
    }
    #eventFeed article .calendarBlock h3{
        font-size: 30px;
        font-weight: 500;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo {
        /*padding: 10px;*/
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    article .eventInfo .infoText {
        /*background-color: lightcoral;*/
        width: 98%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        /*display: flex;*/
    }
    article .eventInfo .infoText h2 {
        /*margin-bottom: auto;
        margin-top: auto;*/
        font-size: 45px;
        text-align: center;
        padding: 45px;
        filter: drop-shadow(2px 2px 5px black);
    }
    article .eventInfo .infoText p {
        /*margin-bottom: auto;
        margin-top: auto;*/
        font-size: 20px;
        text-align: center;
        padding: 10px;
        filter: drop-shadow(2px 2px 5px black);
    }
    
    article .poster img {
        width: 270px;
        border-radius: 20px;
        filter: drop-shadow(0px 0px 5px white);
        margin-left: auto;
        margin-right: auto;
    }


    * {box-sizing:border-box}

.twoDayEventSlides {
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 95%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color:chartreuse;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s  ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.test2 {
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

.aLink {
    bottom: -1187px;
    left: 130px;
}

}