@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(19, 33, 153), green);
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
/*section {
    width: 100%;
    background-image: url("../images/image0.jpg");
    background-color: teal;
    background-image: linear-gradient(green, rgb(32, 53, 241));
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}*/
.logo {
    text-align: center;
    padding: 25px;
}
.logoMobile {
    display: none;
}
.logo img{
    height: 100px;
    width: 500px;
    filter: drop-shadow(0px 0px 5px white);
}
Header {
    width: 100%;
    top: 0;
    right: 0;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}
Header .nav {
    display: flex;
    position: relative;
    font-size: 16px;
    justify-content: center;
}
Header .nav li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 450;
}
Header .nav li a:hover{
    font-weight: 500;
    border: 4px solid #161616;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: .1s ease-in-out;
}
#upcomingEvents {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: yellow;*/
}
#upcomingEvents h1  {
    font-size: 95px;
    padding-bottom: 65px;
    filter: drop-shadow(0px 0px 3px black);
}
#upcomingEvents {
    text-align: center;
    color: white;
}
#upcomingEvents img{
    width: 600px;
    height: 700px;
    text-align: center;
    filter: drop-shadow(0px 0px 3px red);
    border-radius: 25px;
    margin-right: 45px;
}
#upcomingEvents h2  {
    font-size: 45px;
    padding-top: 25px;
    filter: drop-shadow(0px 0px 3px black);
}
#upcomingEvents h5  {
    font-size: 25px;
    padding: 15px;
    filter: drop-shadow(0px 0px 3px black);
}
#upcomingEvents p {
    font-size: 20px;
    width: 60%;
    filter: drop-shadow(0px 0px 3px black);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
#pastEvents article{
    padding: 25px;
    display: inline-block;
    text-align: center;
}
#pastEvents {
    color: white;
    filter: drop-shadow(0px 0px 3px black);
    /*background-color: tomato;*/
    margin: 100px;
}
#pastEvents img {
    width: 400px;
    height: 400px;
    filter: drop-shadow(0px 0px 3px red);
    border-radius: 8px;
}
#pastEvents h1 {
    text-align: center;
    font-size: 95px;
    padding-bottom: 65px;
    filter: drop-shadow(0px 0px 3px black);
}
#pastEvents h2{
    font-size: 25px;
    filter: drop-shadow(0px 0px 3px black);
    padding: 15px;
}
#pastEvents h5{
    filter: drop-shadow(0px 0px 3px black);
    padding-bottom: 15px;
}
#pastEvents p{
    font-size: 15px;
    filter: drop-shadow(0px 0px 3px black);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
#pastEvents article {
    width: 33%;
}
#news {
    color: white;
    filter: drop-shadow(0px 0px 3px black);
    /*background-color: blueviolet;*/
    margin: 100px;
    text-align: center;
}
#news article {
     width: 30%;
     display: inline-block;
     padding: 25px;
     background-color: rgba(255, 255, 255, 0.17);
     border-radius: 20px;
     margin: 20px;
}
#news h1 {
    font-size: 95px;
    text-align: center;
}
#news article h2 {
    font-size: 25px;
    margin-bottom: 15px;
}
#news article h5 {
    font-size: 15px;
    margin-bottom: 15px;
}
#news article p {
    font-size: 20px;
    
    border-radius: 15px;
    padding: 6px;
}
#news #knight {
    background:none;
    width: 400px;
}
#news #knight img {
    width: 400px;
    background:none;
    filter: drop-shadow(0px 0px 8px white);
}
#news img {
    background:none;
    width: 400px;
    justify-content: center;
    filter: drop-shadow(0px 0px 8px white);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




/* custom styling for all icons */
i.fas,
i.fab {
  font-size: 12px;
}
.brand-rights {
    text-align: center;
    color: white;
    background-color:black;
}

/* Optional glow effect */

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff66,
    #00ffff, #ff0fff, #ff0099, #09ffff);
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 80s linear infinite;
}

@keyframes change {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {}
}

/* Media Queries*/

@media (max-width:2560px){
    section {
        padding: 150px 40px;
    }
}

@media (width:1440px){
    section {
        padding: 150px 40px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 145px;
        width: 550px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
}

@media (max-width:1440px){
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 600px;
        height: 175px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #upcomingEvents {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: yellow;*/
    }
    #upcomingEvents h1  {
        font-size: 55px;
        padding-top: 200px;
        padding-bottom: 50px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents {
        text-align: center;
        color: white;
    }
    #upcomingEvents img{
        width: 97%;
        height: 100%;
        text-align: center;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 25px;
        margin-right: auto;
        margin-left: auto;
    }
    #upcomingEvents h2  {
        font-size: 45px;
        padding-top: 25px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents h5  {
        font-size: 25px;
        padding: 15px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents p {
        font-size: 20px;
        width: 100%;
        filter: drop-shadow(0px 0px 3px black);
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }
    #pastEvents article{
        padding: 25px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #pastEvents article h2{
        font-size: 35px;
    }
    #pastEvents article p{
        font-size: 20px;
        width: 500px;
    }
    #pastEvents {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: tomato;*/
        margin: 0px;
    }
    #pastEvents img {
        width: 500px;
        height: 600px;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 8px;
        padding-top: 100px;
    }
    #pastEvents h1 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 65px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #pastEvents h2{
        font-size: 10px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
    }
    #pastEvents h5{
        filter: drop-shadow(0px 0px 3px black);
        padding-bottom: 15px;
    }
    #pastEvents p{
        font-size: 15px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    #pastEvents article {
        width: 33%;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: blueviolet;*/
        margin: 0px;
        text-align: center;
    }
    #news article {
        width: 100%;
        display: inline-block;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 20px;
        margin: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #news h1 {
        font-size: 85px;
        text-align: center;
        margin-bottom: 50px;
    }
    #news article h2 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    #news article h5 {
        font-size: 10px;
        margin-bottom: 15px;
    }
    #news article p {
        font-size: 20px;
        
        border-radius: 15px;
        padding: 6px;
    }
}

@media (max-width:1350px){
    
}

/*iPad 1024x768 side view*/
@media (max-width:1024px){
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 600px;
        height: 175px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #upcomingEvents {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: yellow;*/
    }
    #upcomingEvents h1  {
        font-size: 55px;
        padding-top: 200px;
        padding-bottom: 50px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents {
        text-align: center;
        color: white;
    }
    #upcomingEvents img{
        width: 97%;
        height: 100%;
        text-align: center;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 25px;
        margin-right: auto;
        margin-left: auto;
    }
    #upcomingEvents h2  {
        font-size: 45px;
        padding-top: 25px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents h5  {
        font-size: 25px;
        padding: 15px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents p {
        font-size: 20px;
        width: 100%;
        filter: drop-shadow(0px 0px 3px black);
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }
    #pastEvents article{
        padding: 25px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #pastEvents article h2{
        font-size: 35px;
    }
    #pastEvents article p{
        font-size: 20px;
        width: 500px;
    }
    #pastEvents {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: tomato;*/
        margin: 0px;
    }
    #pastEvents img {
        width: 500px;
        height: 600px;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 8px;
        padding-top: 100px;
    }
    #pastEvents h1 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 65px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #pastEvents h2{
        font-size: 10px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
    }
    #pastEvents h5{
        filter: drop-shadow(0px 0px 3px black);
        padding-bottom: 15px;
    }
    #pastEvents p{
        font-size: 15px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    #pastEvents article {
        width: 33%;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: blueviolet;*/
        margin: 0px;
        text-align: center;
    }
    #news article {
        width: 100%;
        display: inline-block;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 20px;
        margin: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #news h1 {
        font-size: 85px;
        text-align: center;
        margin-bottom: 50px;
    }
    #news article h2 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    #news article h5 {
        font-size: 10px;
        margin-bottom: 15px;
    }
    #news article p {
        font-size: 20px;
        
        border-radius: 15px;
        padding: 6px;
    }
}


/*iPad 768x1024 regular view*/
@media (max-width:768px){
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 600px;
        height: 175px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #upcomingEvents {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: yellow;*/
    }
    #upcomingEvents h1  {
        font-size: 55px;
        padding-top: 200px;
        padding-bottom: 50px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents {
        text-align: center;
        color: white;
    }
    #upcomingEvents img{
        width: 100%;
        height: 800px;
        text-align: center;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 25px;
        margin-right: 45px;
    }
    #upcomingEvents h2  {
        font-size: 45px;
        padding-top: 25px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents h5  {
        font-size: 25px;
        padding: 15px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents p {
        font-size: 20px;
        width: 100%;
        filter: drop-shadow(0px 0px 3px black);
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }
    #pastEvents article{
        padding: 25px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #pastEvents article h2{
        font-size: 35px;
    }
    #pastEvents article p{
        font-size: 20px;
        width: 500px;
    }
    #pastEvents {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: tomato;*/
        margin: 0px;
    }
    #pastEvents img {
        width: 500px;
        height: 600px;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 8px;
        padding-top: 100px;
    }
    #pastEvents h1 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 65px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #pastEvents h2{
        font-size: 10px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
    }
    #pastEvents h5{
        filter: drop-shadow(0px 0px 3px black);
        padding-bottom: 15px;
    }
    #pastEvents p{
        font-size: 15px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    #pastEvents article {
        width: 33%;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: blueviolet;*/
        margin: 0px;
        text-align: center;
    }
    #news article {
        width: 100%;
        display: inline-block;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 20px;
        margin: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #news h1 {
        font-size: 85px;
        text-align: center;
        margin-bottom: 50px;
    }
    #news article h2 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    #news article h5 {
        font-size: 10px;
        margin-bottom: 15px;
    }
    #news article p {
        font-size: 20px;
        
        border-radius: 15px;
        padding: 6px;
    }
}

@media (max-width:425px){
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 300px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #upcomingEvents {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: yellow;*/
    }
    #upcomingEvents h1  {
        font-size: 55px;
        padding-bottom: 0px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents {
        text-align: center;
        color: white;
    }
    #upcomingEvents img{
        width: 100%;
        height: 400px;
        text-align: center;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 25px;
        margin-right: 45px;
    }
    #upcomingEvents h2  {
        font-size: 45px;
        padding-top: 25px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents h5  {
        font-size: 25px;
        padding: 15px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents p {
        font-size: 20px;
        width: 100%;
        filter: drop-shadow(0px 0px 3px black);
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }
    #pastEvents article{
        padding: 25px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #pastEvents article h2{
        font-size: 25px;
    }
    #pastEvents article p{
        font-size: 15px;
        width: 300px;
    }
    #pastEvents {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: tomato;*/
        margin: 0px;
    }
    #pastEvents img {
        width: 100%;
        height: 300px;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 8px;
    }
    #pastEvents h1 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 65px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #pastEvents h2{
        font-size: 10px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
    }
    #pastEvents h5{
        filter: drop-shadow(0px 0px 3px black);
        padding-bottom: 15px;
    }
    #pastEvents p{
        font-size: 15px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    #pastEvents article {
        width: 33%;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: blueviolet;*/
        margin: 0px;
        text-align: center;
    }
    #news article {
        width: 100%;
        display: inline-block;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 20px;
        margin: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #news h1 {
        font-size: 45px;
        text-align: center;
    }
    #news article h2 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    #news article h5 {
        font-size: 10px;
        margin-bottom: 15px;
    }
    #news article p {
        font-size: 20px;
        
        border-radius: 15px;
        padding: 6px;
    }
}

/* Samsung Galaxy */
@media (max-width:360px){
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 300px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #upcomingEvents {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: yellow;*/
    }
    #upcomingEvents h1  {
        font-size: 55px;
        padding-bottom: 0px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents {
        text-align: center;
        color: white;
    }
    #upcomingEvents img{
        width: 100%;
        height: 400px;
        text-align: center;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 25px;
        margin-right: 45px;
    }
    #upcomingEvents h2  {
        font-size: 45px;
        padding-top: 25px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents h5  {
        font-size: 25px;
        padding: 15px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #upcomingEvents p {
        font-size: 20px;
        width: 100%;
        filter: drop-shadow(0px 0px 3px black);
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }
    #pastEvents article{
        padding: 25px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #pastEvents article h2{
        font-size: 25px;
    }
    #pastEvents article p{
        font-size: 15px;
        width: 300px;
    }
    #pastEvents {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: tomato;*/
        margin: 0px;
    }
    #pastEvents img {
        width: 100%;
        height: 300px;
        filter: drop-shadow(0px 0px 3px red);
        border-radius: 8px;
    }
    #pastEvents h1 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 65px;
        filter: drop-shadow(0px 0px 3px black);
    }
    #pastEvents h2{
        font-size: 10px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
    }
    #pastEvents h5{
        filter: drop-shadow(0px 0px 3px black);
        padding-bottom: 15px;
    }
    #pastEvents p{
        font-size: 15px;
        filter: drop-shadow(0px 0px 3px black);
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
    #pastEvents article {
        width: 33%;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        /*background-color: blueviolet;*/
        margin: 0px;
        text-align: center;
    }
    #news article {
        width: 100%;
        display: inline-block;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 20px;
        margin: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    #news h1 {
        font-size: 45px;
        text-align: center;
    }
    #news article h2 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 25px;
    }
    #news article h5 {
        font-size: 10px;
        margin-bottom: 15px;
    }
    #news article p {
        font-size: 20px;
        
        border-radius: 15px;
        padding: 6px;
    }
}