@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(19, 33, 153), green);
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
/*section {
    width: 100%;
    background-image: url("../images/image0.jpg");
    background-color: teal;
    background-image: linear-gradient(green, rgb(32, 53, 241));
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}*/
.logo {
    text-align: center;
    padding: 25px;
}
.logoMobile {
    display: none;
}
.logo img{
    height: 100px;
    width: 500px;
    filter: drop-shadow(0px 0px 5px white);
}
Header {
    width: 100%;
    top: 0;
    right: 0;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}
Header .nav {
    display: flex;
    position: relative;
    font-size: 16px;
    justify-content: center;
}
Header .nav li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 450;
}
Header .nav li a:hover{
    font-weight: 500;
    border: 4px solid #161616;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: .1s ease-in-out;
}
#news {
    color: white;
    filter: drop-shadow(0px 0px 3px black);
    /*background-color: blueviolet;*/
    padding: 50px;
}

#news .newsMain {
    text-align: center;
}
#news .newsMain img {
    width: 800px;
    filter: drop-shadow(0px 0px 8px white);
}
#news .newsMain h1 {
    font-size: 70px;
    filter: drop-shadow(3px 3px 3px black);
    margin-bottom: 100px;
}
.newsBlogs {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#news article {
     width: 100%;
     padding: 35px;
     /*background-color: rgba(255, 255, 255, 0.17);*/
     border-radius: 20px;
     margin: 0px;
}
#news article h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
    padding: 0px;
    filter: drop-shadow(1px 1px 2px black);
}
#news article h5 {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px;
    filter: drop-shadow(1px 1px 2px black);
}
.newsBlogs article p {
    font-size: 25px;
    border-radius: 15px;
    padding: 40px;
    filter: drop-shadow(0px 0px 1px black);
}
#news #knight {
    background:none;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#news #knight img {
    width: 400px;
    background:none;
    filter: drop-shadow(0px 0px 5px white);
}


/* custom styling for all icons */
i.fas,
i.fab {
  font-size: 12px;
}
.brand-rights {
    text-align: center;
    color: white;
    background-color:black;
}
.brand-rights a:link, .brand-rights a:visited {
    color:white;
    text-decoration: none;
  }

/* Optional glow effect */

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff66,
    #00ffff, #ff0fff, #ff0099, #09ffff);
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 80s linear infinite;
}

@keyframes change {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {}
}

/* Media Queries*/

/* iPad Pro */
@media (max-width:1024px){
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 300px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        margin: 0px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    #news article {
        width: 100%;
        padding: 0px;
        /*background-color: rgba(255, 255, 255, 0.17);*/
        border-radius: 20px;
        margin: 0px;
        margin-bottom: 130px;
   }
    .newsBlogs {
        width: 100%;
        margin: 0px;
        
        padding: 10px;
    }
    #news .newsBlogs article {
    }
    #news .newsBlogs article h2{
        font-size: 35px;
    }
    #news .newsBlogs article h5{
        font-size:15px;
        padding: 0px;
    }
    #news .newsBlogs article p{
        font-size: 19px;
        width: 100%;
        padding: 10px;
        
        text-align: left;
    }
    #news .newsMain h1 {
        font-size: 65px;
        margin-bottom: 50px;
        filter: drop-shadow(0px 0px 5px black);
    }
    #news .newsMain img {
        width: 93%;
        filter: drop-shadow(0px 0px 5px white);
    }
    #news #knight {
        width: 100%;
    }
    #news #knight img {
        width: 60%;
        filter: drop-shadow(0px 0px 3px white);
    }
}

/* Samsung Galaxy */
@media (max-width:425px){
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
        display: none;
    }
    .logoMobile {
        display: flex;
        
    }
    .logoMobile img {
        width: 300px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 2px white);
    }
    header .logo img {
        width: 275px;
        height: 70px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: absolute;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
        right: 0;
        margin-right: 35px;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 0px;
    }
    #news {
        color: white;
        filter: drop-shadow(0px 0px 3px black);
        margin: 0px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    #news article {
        width: 100%;
        padding: 0px;
        /*background-color: rgba(255, 255, 255, 0.17);*/
        border-radius: 20px;
        margin: 0px;
        margin-bottom: 130px;
   }
    .newsBlogs {
        width: 100%;
        margin: 0px;
        
        padding: 10px;
    }
    #news .newsBlogs article {
    }
    #news .newsBlogs article h2{
        font-size: 35px;
    }
    #news .newsBlogs article h5{
        font-size:15px;
        padding: 0px;
    }
    #news .newsBlogs article p{
        font-size: 19px;
        width: 100%;
        padding: 10px;
        
        text-align: left;
    }
    #news .newsMain h1 {
        font-size: 65px;
        margin-bottom: 50px;
        filter: drop-shadow(0px 0px 5px black);
    }
    #news .newsMain img {
        width: 93%;
        filter: drop-shadow(0px 0px 5px white);
    }
    #news #knight {
        width: 100%;
    }
    #news #knight img {
        width: 80%;
        filter: drop-shadow(0px 0px 5px white);
    }
}