@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
  }
section {
    width: 100%;
    /*background-image: url("../images/image0.jpg");*/
    background-color: teal;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
section .eventPage_logo {
    text-align: center;
}
section .eventPage_logo img{
    height: 100px;
    width: 500px;
    filter: drop-shadow(0px 0px 5px white);
}
section .circle {
    width: 100%;
    height: 100%;
    /*background: #297c08;*/
    background-color:black;
    position: absolute;
    clip-path: circle(80% at right -40%);
    top: 0;
    left: 0;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}

header img {
    height: 100px;
    width: 500px;
    /*padding-left: 50px;*/
    filter: drop-shadow(0px 0px 5px white);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .nav {
    display: flex;
    position: relative;
    font-size: 16px;
    justify-content: center;
}

header .nav li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 450;
}

header .nav li a:hover{
    font-weight: 500;
    border: 4px solid #161616;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: .1s ease-in-out;
}

.eventPosters {
    padding-top: 70px;
    text-align: center;
}
.eventPosters img {
    height: 900px;
    width: 900px;
    border-radius: 35px;
    filter: drop-shadow(0px 0px 3px red);
}
.eventPosters h1 {
    font-size: 55px;
    padding: 50px;
    font-style: italic;
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px black;
}
.eventPosters p {
    font-size: 30px;
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-family: OCR A Std, monospace;
}
.event-info {
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container .text-container {
  max-width: 550px;
  position: relative;
  margin-right: 20px;
}
.container .text-container h2 {
  color: #fff;
  font-size: 3.8em;
  line-height: 1.4em;
  font-weight: 700;
  margin-bottom: 10px;
}
.container .text-container p {
  color: #fff;
  font-weight: lighter;
  opacity: .8;
  background-color: rgba(0,0,0,.3);
  border-radius: 10px;
  padding: 15px;
}
.container .text-container a {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  padding: 8px 16px;
  background: #ab1026;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  border-radius: 80px;
  border: 5px solid rgb(94, 91, 91);
}

.container .image-container {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}
.container .image-container img {
  position: relative;
  min-width: 640px;
  height: 510px;
  margin-top: 20px;
  filter: drop-shadow(0px 0px 10px white);
}
.container .image-container img:hover {
  filter: opacity(0.8);
}

/* custom styling for all icons */
i.fas,
i.fab {
  font-size: 25px;
}

.fa-soundcloud {
    color: white;

}

.fa-mixcloud {
    color: white;
    
}

.fa-twitch {
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
    
}

.fa-twitter {
    color: white;
}

.aLink {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 44vw;
}

.aLink li a {
    width: 50px;
    height: 50px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.2s linear;
  }

.aLink img {
    height: 20px;
    width: 20px;
}

.aLink li a:hover {
    background: #ab1026;
    transform: translateY(-15px);
}

.aLink li a img {
    width: 45px;
    height: 40px;
    filter: invert(1);
    transform: scale(.6);
}

#img1::after,
#img2::after,
#img3::after{
    content: 'soundcloud';
    color: #fff;
    position: absolute;
    top: 100%;
    bottom: 0;
    padding: 1em 3em;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-in-out .6s;
}

#img2::after {
    content: 'mixcloud';
}

#img3::after {
    content: 'twitch';
}

#img1:hover::after,
#img2:hover::after,
#img3:hover::after{
    transform: scale(1);
}

.social {
    position: absolute;
    bottom: 50vh;
    right: 10px;
}

.social img {
    height: 20px;
    width: 20px;
}

.social li a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social li a:hover {
    background: #333;
    transform: translate(-15px);
    border-radius: 100%;
    transition: .4s linear;
}
.brand-rights {
    text-align: center;
    color: white;
    background-color:black;
}

/* Optional glow effect */

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff66,
    #00ffff, #ff0fff, #ff0099, #09ffff);
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 80s linear infinite;
}

@keyframes change {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {}
}

/* Media Queries*/


@media (max-width:1350px){
    section .circle {
        width: 100%;
        height: 100%;
        /*background: #297c08;*/
        position: absolute;
        clip-path: circle(65% at right -40%);
        top: 0;
        left: 0;
    }
    section {
        padding: 150px 40px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 105px;
        width: 500px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: relative;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 40px;
    }
    .container {
        flex-direction: column;
        padding-top: 100px;
    }
    .container .text-container,
    .container .image-container {
        max-width: 100%;
    }
    .text-container {
        text-align: center;
    }
    .container .text-container h2 {
        font-size: 40px;
        text-align: center;
    }
    .container .text-container p {
        font-size: 35px;
        padding: 20px;
        opacity: 1.0;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;
    }
    .container .image-container img {
        position: relative;
        min-width: 550px;
        height: 450px;
        margin-top: 100px;
        margin-left: 1px;
    }
    .aLink {
        bottom: 20px;
        left: 33vw;
    }
    .social {
        position: absolute;
        bottom: 70vh;
        right: 10px;
    }
}

/*iPad 1024x768 side view*/
@media (max-width:1024px){
    section .circle {
        width: 100%;
        height: 100%;
        /*background: #297c08;*/
        position: absolute;
        clip-path: circle(65% at right -40%);
        top: 0;
        left: 0;
    }
    section {
        padding: 150px 40px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 105px;
        width: 500px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: relative;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 40px;
    }
    .container {
        flex-direction: column;
        padding-top: 100px;
    }
    .container .text-container,
    .container .image-container {
        max-width: 100%;
    }
    .text-container {
        text-align: center;
    }
    .container .text-container h2 {
        font-size: 40px;
        text-align: center;
    }
    .container .text-container p {
        font-size: 35px;
        padding: 20px;
        opacity: 1.0;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;
    }
    .container .image-container img {
        position: relative;
        min-width: 550px;
        height: 450px;
        margin-top: 100px;
        margin-left: 1px;
    }
    .aLink {
        bottom: 20px;
        left: 33vw;
    }
    .social {
        position: absolute;
        bottom: 70vh;
        right: 10px;
    }
}

/*iPad 768x1024 regular view*/
@media (max-width:768px){
    section {
        padding: 150px 40px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 145px;
        width: 550px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: relative;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 40px;
    }
    .container {
        flex-direction: column;
        padding-top: 250px;
    }
    .container .text-container {
        text-align: center;
    }
    .container .text-container h2 {
        font-size: 70px;
        text-align: center;
    }
    .container .text-container p {
        font-size: 40px;
        padding: 30px;
        opacity: 1.0;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;
    }
    .container .text-container,
    .container .image-container {
        max-width: 100%;
    }
    .container .image-container img {
        position: relative;
        min-width: 550px;
        height: 450px;
        margin-top: 100px;
        margin-left: 1px;
    }
    .aLink {
        bottom: 20px;
        left: 33vw;
    }
    .social {
        position: absolute;
        bottom: 70vh;
        right: 10px;
    }
}

@media (max-width:425px){
    section .circle {
        width: 100%;
        height: 100%;
        /*background: #297c08;*/
        position: absolute;
        clip-path: circle(72% at right -40%);
        top: 0;
        left: 0;
    }
    section {
        padding: 150px 40px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: relative;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 40px;
    }
    .container {
        flex-direction: column;
        padding-top: 100px;
    }
    .container .text-container,
    .container .image-container {
        max-width: 100%;
    }
    .container .text-container h2 {
        font-size: 40px;
        text-align: center;
    }
    .container .text-container p {
        font-size: 25px;
        padding: 10px;
        opacity: 1.0;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;
    }
    .container .image-container img {
        position: relative;
        min-width: 150px;
        height: 250px;
        margin-top: 100px;
    }
    .aLink {
        bottom: 20px;
        left: 33vw;
    }
    .social {
        position: absolute;
        bottom: 70vh;
        right: 10px;
    }
}

/* Samsung Galaxy S9+ */
@media (max-width:375px){
    section .circle {
        width: 100%;
        height: 100%;
        /*background: #297c08;*/
        position: absolute;
        clip-path: circle(72% at right -40%);
        top: 0;
        left: 0;
    }
    section {
        padding: 150px 40px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: relative;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        right: 40px;
    }
    section .eventPage_logo img {
        width: 280px;
        height: 80px;
    }
    section .eventPosters img {
        width: 100%;
        height: 100%;
    }
    section .eventPosters .event-info h1{
        width: 100%;
        font-size: 45px;
        text-align: center;
        justify-content: center;
    }
    section .eventPosters .event-info p{
        width: 95%;
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
}

/* Samsung Galaxy */
@media (max-width:360px){
    section .circle {
        width: 100%;
        height: 100%;
        /*background: #297c08;*/
        position: absolute;
        clip-path: circle(72% at right -40%);
        top: 0;
        left: 0;
    }
    section {
        padding: 150px 0px;
    }
    header {
        padding: 40px;
        display: flex;
    }
    header img {
        height: 45px;
        width: 250px;
        padding-left: 0px;
        padding-right: 40px;
    }
    header .logo {
        font-size: 20px;
    }
    header .nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    header .nav.active{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: rgba(0,0,0,.95);
        opacity: .95;
        z-index: 5;
    }
    header .nav li a {
        margin: 15px 5px;
        font-size: 25px;
        color: white;
    }
    .toggle {
        width: 35px;
        height: 30px;
        position: relative;
        background: url(/images/bars.png) no-repeat center;
        background-size: cover;
        filter: invert(1);
        z-index: 100;
    }
    .toggle.active {
        position: fixed;
        background: url(/images/window-close_white.png) no-repeat center;
        background-size: cover;
        filter: invert(0);
        left: 40px;
    }
    section .eventPage_logo img {
        width: 280px;
        height: 80px;
    }
    section .eventPosters img {
        width: 100%;
        height: 100%;
    }
    section .eventPosters .event-info h1{
        width: 100%;
        font-size: 45px;
        text-align: center;
        justify-content: center;
    }
    section .eventPosters .event-info p{
        width: 95%;
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
}